body {
  font-family: "Bebas Neue", cursive;
}

#header {
  background-color: black;
  color: white;
}

.header-links {
  color: white;
  text-decoration: none;
}

.header-links:hover {
  cursor: pointer;
  color: orange;
}

#about-video {
  filter: brightness(50%);
}

#schedule-row {
  padding: 1rem;
}

.box {
  border: black solid 1px;
}

.home-score,
.away-score {
  font-size: 3rem;
}
